<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900148831632-3pq81fonvabhvneled75h51fgihfrgdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900148831632-3pq81fonvabhvneled75h51fgihfrgdo</string>
	<key>API_KEY</key>
	<string>AIzaSyBUfJ0abF8KQgz4GqtHh2s_Fs82TxPCPTY</string>
	<key>GCM_SENDER_ID</key>
	<string>900148831632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.routinelyinc.routinely</string>
	<key>PROJECT_ID</key>
	<string>routinely-85bf8</string>
	<key>STORAGE_BUCKET</key>
	<string>routinely-85bf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:900148831632:ios:54a7ad2b5c4917cc473f15</string>
	<key>DATABASE_URL</key>
	<string>https://routinely-85bf8.firebaseio.com</string>
</dict>
</plist>
